/*main*/
body{
    font-family: 'Poppins', sans-serif;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
.vidaloka{
    font-family: 'Vidaloka', sans-serif;
}
.subtitle{
    margin-top: 100px!important;
}
/*titre h2*/
.border-one{
    border-left: 2px solid green; 
}
.border-two{
    border-left: 4px solid green;   
}
/*navbar*/
.active:hover {
    color: green!important;
}
/*main*/
.main{
    background: linear-gradient(to bottom, rgba(39, 39, 38, 0.8) 0%, rgba(39, 39, 38, 0.8) 100%), url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/SaintPaul_Reunion.JPG/1200px-SaintPaul_Reunion.JPG") no-repeat;
    background-size: 100%;
    height: 560px;
}
.btn-radius{
    border-radius: 25px!important;
}
.input-border{
    padding: 5px;
    border-radius: 25px!important;
}
.price-border{
    border-top: none;
    border-bottom: none;
}
.category-border{
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.location-border{
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-top-left-radius: 25px!important;
    border-bottom-left-radius: 25px!important;
}

.text-green{
    color: green!important;
}
/*statistique*/
.number-stat{
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.8) 0%, rgba(22, 22, 22, 0.8) 100%);
    height: 90px;
    color: white;
    font-size: 1.4rem;;
}
.stat{
    font-size: 1.8rem;
}
.number-stat-inblock{
    height: 90px;
}
/*top city section*/
.bg-grad{
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.8) 0%, rgba(22, 22, 22, 0.8) 100%);   
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(200px,auto);
    grid-auto-columns: minmax(auto,200px);
    background: 100%;
}
.image-one{
grid-column: 1/3;
grid-row: 1/3;
background: cover;
}
.img-cover{
    width: 100%!important;
    height: 100%!important;
}
/*par region*/





/*card */
.avatar {
    top: 160px;
    left: 200px;
    
    position: absolute;
    z-index: 1;
}
.heart{
    position: absolute;
    z-index: 1; 
    left: 250px;
    top: 20px;
}
.card-relative {
    position: relative;
}
.input-description {
    height: 100px;
}
/* .carousel-relative{
    position: relative;
} */
/*search bootstrap*/



/*//////map + liste////*/
.search-bar{
    height: 40px;
    width: 650px;
    
}
#btn-send{
    width: 100px;
    height: 35px;
    
  
}
.form-search{
    height: 35px;
    padding-bottom: 0px!important;
}

#location-filter {
    padding-top: 0px;
    padding-bottom: 0px;
   
}
#map{
    height: 100vh;
}
.btn-value {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
   font-size: 1rem!important;
}
.btn-green{
    padding-bottom: 5px!important;
}