/*main*/
/*navbar*/
.active:hover {
    color: green!important;
}
/*main*/
.main{
    background: linear-gradient(to bottom, rgba(39, 39, 38, 0.8) 0%, rgba(39, 39, 38, 0.8) 100%), url("../images/hotel-room-bed.jpg") no-repeat;
    background-size: 100%;
    height: 590px;
}
.text-green{
    color: green!important;
}
.number-stat{
    height: 90px
}

/*card */
.avatar {
    top: 160px;
    left: 200px;
    
    position: absolute;
    z-index: 1;
}
.heart{
    position: absolute;
    z-index: 1; 
    left: 250px;
    top: 20px;
}
.card-relative {
    position: relative;
}
.input-description {
    height: 100px;
}
/* .carousel-relative{
    position: relative;
} */
/*search bootstrap*/



/*//////map + liste////*/
.search-bar{
    height: 40px;
    width: 650px;
    
}
#btn-send{
    width: 100px;
    height: 35px;
    
  
}
.form-search{
    height: 35px;
    padding-bottom: 0px!important;
}

#location-filter {
    padding-top: 0px;
    padding-bottom: 0px;
   
}
#map{
    height: 100vh;
}
.btn-value {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
   font-size: 1rem!important;
}
.btn-green{
    padding-bottom: 5px!important;
}