.search-bar{
    height: 65px;
}

.pt-2, .py-2 {
    padding-top: 0rem!important;
    
}

#btn_envoyer{
    height: 55px;
    padding-top: 13px;
}


/*Responsive tablette/Mobile*/
@media (max-width: 768px) {
   .hero{
       padding-bottom: 250px;
   }
}



